/**
 * Footer
 * ------
 * Basic footer text and monospace block styling.
 */

.footer {
  font-size: 0.9rem;
  text-align: center;
}

pre {
  display: block;
  margin-block: 1em;
  margin-inline: 0;
  font-family: monospace;
  white-space: pre;
}
