# vscode
.vscode

# IntelliJ
*iml
.idea
desktop.ini

# npm
npm-debug.log.*
node_modules
package-lock.json

# logs
*.log
logs/*

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# tbd
.eslintcache
cert
.history
.env
# Build artifacts
src/frontend/css/bundle.css
src/frontend/css/bundle.css.map
dist/
