<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{PAGE_TITLE}} | Web Sandbox</title>
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
    <link rel="stylesheet" href="/css/bundle.css" />
    {{PAGE_STYLESHEETS}}
  </head>
  <body>
    <div id="app-errors"></div>
    <div id="navbar"></div>

    <main>
      <div class="page-header">
        <h1 class="title">{{PAGE_TITLE}}</h1>
        <p class="subtitle">{{PAGE_SUBTITLE}}</p>
      </div>

      {{PAGE_CONTENT}}
    </main>

    <div id="footer"></div>

    <script type="module" src="/js/main.js"></script>
    {{PAGE_SCRIPTS}}
  </body>
</html>
