.footer {
  font-size: 0.9rem; /* 14.4px */

  /* padding: 1rem; */
  text-align: center;

  /* color: #666; */

  /* background-color: #f5f5f5; */

  /* border-top: 1px solid #ddd; */
}

pre {
  display: block;
  margin-block: 1em;
  margin-inline: 0;
  font-family: monospace;
  white-space: pre;
}
